<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.yysp.ecandroid">





    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读写通讯录权限-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />


    <application
        android:name="com.yysp.ecandroid.application.ECApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APPNAME}"
        android:supportsRtl="true"
        tools:replace="icon,label,allowBackup">

        <activity
            android:name="com.yysp.ecandroid.ECTaskActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.LongRunningService" />
        <!-- 友盟自定义消息service-->
        <!--辅助service-->
        <service
            android:name=".service.HelpService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/help" />

        </service>
    </application>
</manifest>
